@font-face {
  font-family: 'SignPainter';
  src: url('/fonts/SignPainter-HouseScript.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;

  border: 1px solid #999;

  color: #878787;

  font: 12px 'Arial';
}

header {
  height: 40px;

  background: #4D4E52;
}

header h1 {
  padding: 5px 10px;

  color: #f18f68;

  font-family: 'SignPainter';
  font-size: 25px;
}

header h1 small {
  color: #a0a0a0;

  font: 11px 'Arial';
  font-style: italic;
}

.address {
  width: 100%;

  margin-bottom: 8px;

  overflow: hidden;
  text-overflow: ellipsis;

  white-space: nowrap;
}

.popup-container {
  width: 400px;

  margin: 10px 6px;
}

.popup-container input[type=text] {
  width: 82%;
  height: 22px;

  padding: 1px 5px;

  color: #4D4E52;

  border: 1px solid #acacac;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  outline: none;
}

.popup-container button {
  width: 13%;
  height: 26px;

  margin-left: -3px;

  background: #e9e8e8;

  color: #878787;

  border: 1px solid #acacac;
  border-left: none;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  font-weight: bold;

  cursor: pointer;

  background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(229,229,229,1) 100%);
}

.help.help-success {
  color: green;
}

.help.help-error {
  color: red;
}
